@model Product

<div class="col-sm-12 col-md-6 col-lg-4 p-3">
	<div class="card" style="width: 18rem;">
		<img src="@Model.ImageUrl" class="card-img-top" alt="Product Image">
		<div class="card-body">
			<h5 class="card-title">@Model.ProductName</h5>
			<p class="card-text">@Model.Summary</p>
			<p class="card-text">@Model.Price.ToString("c")</p>

			<div class="btn btn-group">
				<form id="@Model.ProductId" asp-page="/CartPage/Cart" method="post">
					
					<input type="hidden" asp-for="ProductId">
					<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">
					
					<button type="submit" class="btn btn-outline-primary">
						<i class="fa fa-cart-plus"></i>
					</button>
				</form>

				<a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.ProductId">
					<i class="fa-solid fa-arrow-right"></i>
					Details
				</a>
			</div>
		</div>
	</div>
</div>